html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

span {
    text-transform: capitalize;
}

.terms {
    padding-left: 5%;
    padding-right: 5%;
    color: black;
    text-align: justify;
    font-size: 16px;

    
}

.title:hover {
    font-weight: 600;
  }   


.button {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 25px;
    float: right;
    margin-bottom: 50px;
}
